alabaster==0.7.11
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
docutils==0.14
-e git+https://github.com/mcbarlowe/Hockey-Scraper.git@35f3ac503d961c4eb9b9ea5e86f6a454c94c965e#egg=hockey_scraper
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
more-itertools==4.3.0
numpy==1.15.2
packaging==17.1
pandas==0.23.4
pluggy==0.7.1
psycopg2==2.7.5
py==1.6.0
Pygments==2.2.0
pyparsing==2.2.1
pytest==3.8.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.12
urllib3==1.23
webencodings==0.5.1
